.hero-1 {
    background: url("../image/hero/1.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
}

.hero-2 {
    background: url("../image/hero/2.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
}

.hero-3 {
    background: url("../image/hero/3.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
}
.hero-4 {
    background: url("../image/hero/4.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
}

.hero-h1{
    opacity: 0.8;
    text-align: center;
    margin-top: 30vh;
    color: white;
    font-size: 4em;

    &> span {
        font-weight: bold;
        color: orange;
    }
}

@media screen and (max-width: 1240px) {
    .hero-h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 768px) {
    .hero-h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 425px) {
    .hero-h1 {
        font-size: 1.2em;
    }
}